.container {
  display: flex;
  width: 69.7vw;
}

.scrollContainer {
  display: flex;
  overflow: scroll;
}

.resultColum {
  display: flex;
  width: 90px;
  min-width: 90px;
  flex-direction: column;
  border-left: 1px solid #E4E4EF;
  border-right: 1px solid #E4E4EF;
}

.title {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #E4E4EF;
}

.resultPart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
  padding: 0 28px;
  margin-top: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.summarizePart {
  display: flex;
  padding-top: 14px;
  flex-direction: column;
  height: 65px;
  border-top: 1px solid #E4E4EF;
}

.resultTitle {
  display: flex;
  justify-content: flex-end;
  padding: 0 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3448FF;
}
