.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0 0;
  width: 36px;
  background-color: #FFFFFF;
  height: 100%;
}

.btnExpand {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
