.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.leftPart {
  display: flex;
}

.title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  margin-right: 40px;
}
