.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 312px;
  height: 40px;
  border-radius: 16px;
  background-color: #DCDFF4;
}

.btnTitle {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #082253;
  outline: none;
  border: none;
  background-color: #DCDFF4;
}

.btnBack {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 2px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.btnForward {
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-left: 2px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
